.body{
    margin-top: 0;
}

.container{
    display: flex;
    width: 1400px;
    height: auto;
    flex-direction: column;
    margin: auto;
}

.header{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 100;
}

.menu_1{
    display: flex;
    padding: 16px 52px;
    flex-direction: row;
    align-items: center;
    background: #10BBD5;
}

.menu_1_content{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1053px;
}

.logo{
    display: flex;
    width: auto;
    height: 28px;
    text-decoration: none;
    gap: 3px;
}

.logo_img{
    width: 26px;
    height: 28px;
}

.logo_text{
    width: 115px;
    height: 29px;
    margin: 0;
    color: #F8FDFE;
    font-family: "Cabin", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cart{
    display: flex;
    width: 99px;
    height: 40px;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.bill{
    width: 53px;
    height: 24px;
    margin: 0;
    color: #F8FDFE;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.cart_icon{
    display: flex;
    width: 40px;
    height: 40px;
    background-image: url(references/cart_icon.png);
    background-color:#10BBD5;
    border: none;
}

.cart_num{
    margin: 0;
    padding: 12.5px 14.5px;
    color: #000;
    font-family: "Cabin", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
}

.menu_2{
    display:flex;
    padding: 4px 52px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background: #FFF;
}

.menu_2_content{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 820px;
}

.left_text{
    margin: 0;
    color: #000;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.nav_menu{
    display: flex;
    margin: 0;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    list-style-type: none;
}

.nav_menu_item{
    color: #000;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

.main{
    display: flex;
    justify-content: center;
    background: var(--beige, #EEEEEF);
    position: relative;
    margin-top: 104px;
}

.main_block{
    display: flex;
    width: 1296px;
    height: auto;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 88px;
}

.main_head{
    display: flex;
    align-items: center;
    border-bottom: 2px solid #A8A8A8;
}

.main_head_text{
    margin: 32px 0 32px 0;
    color: #1F1F1F;
    font-family: "Cabin", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 306px);
    padding-bottom: 32px;
    grid-gap: 24px;
    grid-row-gap: 32px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    padding: 32px;
    gap: 16px;
    background-color: #F8FDFE;
    border: 1px solid #000;
}

.image_block{
    display: flex;
    flex-direction: row;
}

.final_offer{
    width: 178px;
    height: 280px;
    margin: 0 32px;
    background-image: url(book_covers/final_offer.jpg);
}

.it_ends_with_us{
    width: 178px;
    height: 280px;
    margin: 0 32px;
    background-image: url(book_covers/it_ends_with_us.jpg);
}

.atomic_habits{
    width: 178px;
    height: 280px;
    margin: 0 32px;
    background-image: url(book_covers/atomic_habits.jpg);
}

.the_creative_act{
    width: 178px;
    height: 280px;
    margin: 0 32px;
    background-image: url(book_covers/the_creative_act.jpg);
}

.spare{
    width: 178px;
    height: 280px;
    margin: 0 32px;
    background-image: url(book_covers/spare.jpg);
}

.digital_minimalism{
    width: 178px;
    height: 280px;
    margin: 0 32px;
    background-image: url(book_covers/digital_minimalism.jpg);
}

.meditations{
    width: 178px;
    height: 280px;
    margin: 0 32px;
    background-image: url(book_covers/meditations.jpg);
}

.httlre{
    width: 178px;
    height: 280px;
    margin: 0 32px;
    background-image: url(book_covers/httlre.jpg);
}

.the_meditations{
    width: 178px;
    height: 280px;
    margin: 0 32px;
    background-image: url(book_covers/the_meditations.jpg);
}

.lives_of_the_stoics{
    width: 178px;
    height: 280px;
    margin: 0 32px;
    background-image: url(book_covers/lives_of_the_stoics.jpg);
}

.dopamine_nation{
    width: 178px;
    height: 280px;
    margin: 0 32px;
    background-image: url(book_covers/dopamine_nation.jpg);
}

.i_dont_need_therapy{
    width: 178px;
    height: 280px;
    margin: 0 32px;
    background-image: url(book_covers/i_dont_need_therapy.jpg);
}


.info_block{
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
}

.title{
    display: flex;
    width: 242px;
    margin: 0;
    overflow: hidden;
    color: var(--black, #1F1F1F);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "Cabin", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    border-bottom: 2px solid #A8A8A8;
}

.author{
    display: flex;
    width: 242px;
    margin: 0;
    overflow: hidden;
    color: var(--gray, #8E8E8E);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.price_block{
    display: flex;
    width: 242px;
    height: 32px;
    align-items: center;
    flex-direction: row;
    margin-top: 8px;
    gap: 24px;
}

.price{
    margin: 0;
    color: #E90000;
    font-family: "Cabin", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 650;
    line-height: 32px;
}

.old_price{
    margin: 0;
    color: var(--gray, #8E8E8E);
    font-family: "Cabin", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 650;
    line-height: 32px;
    text-decoration: line-through;
}

.add_to_basket{
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    background: var(--eggplant, #4C394E);

    color: var(--white, #F8FDFE);
    text-align: center;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.end_up{
    display: flex;

    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    background: #4D762D;

    color: var(--white, #F8FDFE);
    text-align: center;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.badge_block{
    display: flex;
    flex-direction: row;
    gap: 3px;
    position: absolute;
    z-index: 50;
}

.hit_badge{
    display: flex;
    width: auto;
    height: 32px;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #4200FF;

    color: #F8FDFE;
    text-align: center;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.new_badge{
    display: flex;
    width: auto;
    height: 32px;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #AF39E7;

    color: #F8FDFE;
    text-align: center;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.sale_badge{
    display: flex;
    width: auto;
    height: 32px;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #EA33C0;

    color: #F8FDFE;
    text-align: center;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.chat_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    position: fixed;
    margin: 610px 0 0 1256px;
    z-index: 100;
    background-image: url(references/ellipse.png);
}

.chat_icon_img{
    width: 51.2px;
    height: 51.2px;
    background-image: url(references/icon.png);
}

.footer{
    display: flex;
    height: 88px;
    align-items: center;
    background: var(--eggplant, #4C394E);
    position: relative;
}

.copyright_block{
    display: flex;
    padding: 32px 52px;
    flex-direction: row;
    gap: 1110px;
}

.copy_year{
    color: var(--white, #F8FDFE);
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.warning{
    color: var(--white, #F8FDFE);
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}